In [1]:
#tuples
tup = 1,2,3

In [2]:
tup

(1, 2, 3)

In [3]:
nested_tup = tup, (2,3)

In [4]:
nested_tup

((1, 2, 3), (2, 3))

In [7]:
tup = tuple(['geez',[1,2,3,4],True])

In [8]:
tup[1]

[1, 2, 3, 4]

In [9]:
tup[1].append(10)

In [10]:
tup

('geez', [1, 2, 3, 4, 10], True)

In [11]:
a,b,c = tup

In [12]:
a

'geez'

In [13]:
b

[1, 2, 3, 4, 10]

In [15]:
d,[e,f,g,h,i],j = tup

In [16]:
e

1

In [1]:
pal = 'civic'

In [3]:
pal[::1] == pal[::-1]

True

In [4]:
a_list = [2,3,7,None]

In [5]:
tup = 'foo','bar','baz'

In [7]:
b_list = list(tup)

In [8]:
b_list

['foo', 'bar', 'baz']

In [9]:
b_list[1] = 'peekaboo'

In [10]:
b_list

['foo', 'peekaboo', 'baz']

In [11]:
gen = range(10)
gen

range(0, 10)

In [12]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
b_list.append('dwarf') #append adds an element at the end

In [14]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [15]:
b_list.insert(1,'lol') #insert will give you the ability to put the element anywhere, its computationally expensive though.

In [16]:
b_list

['foo', 'lol', 'peekaboo', 'baz', 'dwarf']

In [18]:
b_list.pop(4) #pop is opposite of insert

'dwarf'

In [19]:
b_list

['foo', 'lol', 'peekaboo', 'baz']

In [20]:
b_list.append('foo')

In [21]:
b_list.remove('foo') #remove can be used if we want to remove an element by value

In [22]:
b_list #notice that first observation of the value is removed

['lol', 'peekaboo', 'baz', 'foo']

In [23]:
'lol' in b_list #check if a value is in list or not

True

In [25]:
[4,None,'foo'] + [1,3,(2,3,4)] # '+' is used to concatenate lists

[4, None, 'foo', 1, 3, (2, 3, 4)]

In [26]:
x = [4, None, 'foo']

In [27]:
x.extend([2,5,'love']) #extend can be used if you would like to append a list

In [29]:
x # '+' is computationally expensive than extend function

[4, None, 'foo', 2, 5, 'love']

In [30]:
a = [9,4,6,6,4,8,2,1,2]

In [31]:
a.sort() #sorts the list

In [32]:
a

[1, 2, 2, 4, 4, 6, 6, 8, 9]

In [33]:
b = ['saw','small','he','six','foxes']

In [34]:
b.sort(key = len) #sort has the argument key based on that you can sort your list

In [35]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [1]:
import bisect #this package contains binary search and insertion into sorted lists

In [2]:
c = [1,2,2,2,3,4,7]

In [3]:
bisect.bisect(c,2) # this command finds where an element should be inserted to keep the list c sorted.

4

In [5]:
bisect.bisect(c,5)

6

In [6]:
bisect.insort(c,6)  # this command will find and insert the element while keeping the list sorted

In [7]:
c # notice how the insort has put in the element

[1, 2, 2, 2, 3, 4, 6, 7]

# SLICING

In [9]:
seq = [7,2,3,7,5,6,0,1]

In [10]:
seq[1:5] # How to slice? --->> list[start:stop]

[2, 3, 7, 5]

In [11]:
seq[3:4] = [6,3] # we can use slicer to assign

In [12]:
seq # note how the start index is included but not the stop

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [13]:
seq[:5] #when slicing either start or stop can be omitted

[7, 2, 3, 6, 3]

In [14]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [16]:
seq[-4:] # negative indices slice relative to the end

[5, 6, 0, 1]

In [18]:
seq[::2] #a step can also be used ater secod colon while slicing
# notice how we got alternating elements below

[7, 3, 3, 6, 1]

In [20]:
seq[::-1] # using -1 will give you the results in reverse order

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [21]:
a = 'civic'

In [22]:
if a[:] == a[::-1]:
    print("Its a palindrome motherfucka")

Its a palindrome motherfucka