In [2]:
def add_numbers(a,b):
    """
    Add two numbers together
    
    Returns
    ------------
    the_sum: type of arguments
    """
    return a + b

In [ ]:
add_numbers? #Adding ? will do object introspection

In [ ]:
add_numbers?? #Adding ?? will show you functins source code if possible

In [ ]:
%run blabla.py #this will enable the python to play a script completely

In [13]:
# the 'is' is essentially checking if it is referencing for the same object
a = [1,2,3]
b = list(a)
a is b

False

In [14]:
a is not b # 'is not'

True

In [16]:
a == b # this is comparision operator

True

In [1]:
a = 5.6

In [2]:
str(a)

'5.6'

In [3]:
s = 'python'

In [4]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [5]:
val = 'nishanth'

In [6]:
val_utf8 = val.encode('utf-8')

In [7]:
val_utf8

b'nishanth'

In [11]:
#DateTime Modules
from datetime import datetime, date, time
dt = datetime(2020,1,1,20,20,20)

In [12]:
dt.day

1

In [13]:
dt.month

1

In [14]:
dt.year

2020

In [16]:
dt.hour

20

In [17]:
dt.minute

20

In [18]:
dt.second

20

In [20]:
dt.date()

datetime.date(2020, 1, 1)

In [21]:
dt.time()

datetime.time(20, 20, 20)

In [22]:
#strftime method formats datetime as a string
dt.strftime('%m/%d/%Y %H:%M')

'01/01/2020 20:20'

In [23]:
#strings can be converted into datetime objects using the strptime function
datetime.strptime('1994-09-20','%Y-%m-%d')

datetime.datetime(1994, 9, 20, 0, 0)

In [24]:
dt.replace(minute = 0, second = 59)

datetime.datetime(2020, 1, 1, 20, 0, 59)

In [26]:
dt.replace(day = 21)

datetime.datetime(2020, 1, 21, 20, 20, 20)

In [27]:
dt2 = datetime(1994, 9, 20, 0, 0)

In [30]:
#the difference of two datetime objects produces a datetime.timedelta
delta = dt - dt2
delta

datetime.timedelta(days=9234, seconds=73220)

In [31]:
#timedelta to a datetime produces a new shifted datetime
dt + delta

datetime.datetime(2045, 4, 14, 16, 40, 40)